* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000316;
}

.main,
.display,
.group {
  display: flex;
}

.display,
.group {
  height: 100px;
}

.main {
  margin: 0 auto;
  margin-top: 30px;
  flex-direction: column;
  width: 700px;
}

.display {
  flex-direction: row-reverse;
  background-color: grey;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 65px;
  overflow-x: scroll;
}

.button {
  width: 25%;
  height: 100%;
  font-size: 22px;
  border: 1px solid rgb(216, 214, 214);
}

.doubleWidth {
  width: 50%;
}

.orangeBackground {
  background-color: #ff7f00;
}

@media only screen and (max-width: 768px) {
  .main {
    width: 85%;
  }

  .display,
  .group {
    height: 85px;
  }

  .display {
    font-size: 45px;
  }
}
